*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	width: 100%;
}
body{
	font-size: 12px;
	font-family: Microsoft YaHei,"微软雅黑";
	overflow-x: hidden;
	position: relative;
}
ul,li,ol{
	list-style: none;
}
input,button,a{
	outline: none;
}
a{
	text-decoration: none;
}
img,input,button{
	border: none;
}
.clearFix:after{
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.width{
	width: 1200px;
	margin: 0 auto; 
}