.header{
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: #f6f6f6;
	border: 1px solid #c7c7c7;
}
.header a,.header li{
	color: #666666;
}
.header a:hover{
	text-decoration: underline;
}

.header .city{
	width: 280px;
	height: 32px;
	float: left;
}
.header .city ul{
	width: 200px;
	height: 32px;
	float: right;
}
.header .city ul li{
	float: left;
	padding: 0 5px;
}
.header .city ul li:nth-child(2){
	background: url(../img/1headerLine.png) no-repeat right center;
}
.header .list{
	width: 550px;
	height: 32px;
	float: right;
}
.header .list ul{
	width: 700px;
	height: 32px;
}
.header .list ul li{
	padding: 0 10px;
	float: left;
	background: url(../img/1headerLine.png) no-repeat right center;
}
.header .list ul li:last-child{
	background: none;
}
.header .list ul li:last-child a{
	color: red;
}