/*全局样式*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-size: 12px;
	font-family: Microsoft YaHei,"微软雅黑";
	overflow-x: hidden;/*!!*/
	position: relative;/*???fixed定位 body怎么写*/
}
ul,li,ol{
	list-style: none;
}
input,a,button{
	outline: none;
}
a{
	text-decoration: none;
}
img{
	border: none;
}
.clearFix:after{
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.width{
	width: 1200px;
	margin: 0 auto; 
}
/*头部*/

.header{
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: #f6f6f6;
	border: 1px solid #c7c7c7;
}
.header .headWidth{
	width: 1200px;
	height: 32px;
	margin: 0 auto; 
	/*border: 1px solid red;*/
}
.header .headWidth a,.header li{
	color: #666666;
}
.header .headWidth a:hover{
	text-decoration: underline;
}
.header .headWidth .city{
	width: 210px;
	height: 32px;
	float: left;
}
.header .headWidth .city ul{
	width: 200px;
	height: 32px;
	float: left;
}
.header .headWidth .city ul li{
	float: left;
	padding: 0 5px;
}
.header .headWidth .city ul li:nth-child(2){
	background: url(../img/1headerLine.png) no-repeat right center;
}
.header .headWidth .list{
	width: 480px;
	height: 32px;
	float: right;
}
.header .headWidth .list ul{
	width: 480px;
	height: 32px;
}
.header .headWidth .list ul li{
	padding: 0 10px;
	float: left;
	background: url(../img/1headerLine.png) no-repeat right center;
}
.header .headWidth .list ul li:last-child{
	background: none;
}
.header .headWidth .list ul li:last-child a{
	color: red;
}
/*导航*/
.nav{
	height: 80px;
	line-height: 80px;
	position: relative;
}
.nav h1{
	width: 200px;
	height: 80px;
	font-size: 0;
	position: absolute;
	left: 0;
	top: 0;
	/*float: left;*/
	background: url(../img/2navH1.png) no-repeat center center;
}
.nav ul{
	width: 600px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 20px;
	right: 0;
	/*float: right;*/
}
.nav ul li{
	height: 40px;
	width: 100px;
	text-align: center;
	float: left;
}
.nav ul li a{
	display: block;
	font-size: 16px;
	color: #666666;
	height: 40px;
	width: 100px;
}
.nav ul li a:hover{
	background-color: #f6f6f6;
}
/*二维码*/
.fixImg{
	width: 70px;
	height: 200px;
	position: fixed;
	top: 140px;
	right: 0px;
	z-index: 9999;
}
.fixImg img:first-child{
	width: 45px;
	height: 50px;
	margin: 0 0 0 10px; 
}
.fixImg p{
	width: 70px;
	height: 20px;
	color: #438c71;
	text-align: center;
}
.fixImg p a{
	display: block;
	width: 70px;
	height: 20px;
	color: #438c71;
	border: 1px solid #277e5e;
	background-color: #fff;
}
.fixImg p a:hover{
	color: #fff;
	background-color: #277e5e;
}
.fixImg:nth-child(3){/*.timeP*/
	background-color: rgba(255,255,255,0.5); 
}
.fixImg img:last-child{
	width: 70px;
	height: 100px;
}
/*大的广告条*/
.banner{
	height: 340px;
	position: relative;
}
.banner .imgA{
	display: block;
	width: 1200px;
	height: 340px;
	overflow: hidden;
	position: relative;
}
.banner .imgA .imgDiv{
	width: 6000px;
	height: 340px;
	position: absolute;
	left: 0;
	top: 0;
}
.banner .imgA .imgDiv img{
	width: 1200px;
	height: 340px;
	float: left;
}
.banner .imgA .imgCir{
	width: 105px;
	height: 24px;
	position: absolute;
	right: 30px;
	bottom: 20px;
}
.banner .imgA .imgCir span{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px 0 0;
	border-radius: 50%;
}
.banner .imgA .imgCir .imgCir1{
	background: #000;
}
/*列表*/
.banner .list{
	width: 235px;
	height: 340px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(89,89,89,0.5);
}
.banner .list ul{
	width: 235px;
	height: 340px;
}
.banner .list ul li{
	width: 235px;
	height: 85px;
	position: relative;
	border-bottom: 1px solid #9a9895;
}
.banner .list ul li .triSpan{
	position: absolute;
	right: 0px;
	top: 37px;
	border-top:7px solid transparent;
	border-bottom:7px solid transparent; 
	border-left: 6px solid transparent;
	border-right: 6px solid #f7f7f7;
}
.banner .list ul li:first-child a{
	background: url(../img/3bannerList1.png) no-repeat 45px center;
}
.banner .list ul li:nth-child(2) a{
	background: url(../img/3bannerList2.png) no-repeat 35px center;
}
.banner .list ul li:nth-child(3) a{
	background: url(../img/3bannerList3.png) no-repeat 40px center;
}
.banner .list ul li:last-child a{
	background: url(../img/3bannerList4.png) no-repeat 40px center;
	border: none;
}
.banner .list ul li a{
	display: block;
	width: 235px;
	height: 85px;
	line-height: 85px;
	text-indent: 95px;
	color: #fff;
	font-size: 16px;
}
.banner .list ul li a:hover{
	background-color: #128858;
}
.banner > span{
	width: 0px;
	height: 0px;
	display: block;
	z-index: 9999;
	border-top:7px solid transparent;
	border-bottom:7px solid transparent; 
	border-left: 8px solid transparent;
	border-right: 8px solid #f7f7f7;
	position: absolute;
}
.banner .triSpan1{
	left: 220px;
	top: 35px;
	display: none;
	/*visibility: hidden;*/
}
.banner .triSpan2{
	left: 220px;
	top: 120px;
	display: none;
}
.banner .triSpan3{
	left: 220px;
	top: 210px;
	display: none;
}
.banner .triSpan4{
	left: 220px;
	top: 290px;
	display: none;
}
/*列表1*/
.banner .list1{
	width: 700px;
	height: 435px;
	position: absolute;
	left: 235px;
	top: 0;
	background-color: #f7f7f7;
	padding: 10px 0 0 0;
	border: 1px solid #39836a;
	/*border-left: none;*/
	display: none;
}
.banner .list1 .listText{
	width: 700px;
	height: 45px;
}
.banner .list1 .listText p{
	width: 155px;
	height: 45px;
	float: left;
	position: relative;
	background: url(../img/3bannerList6.png) no-repeat 140px center;
}
.banner .list1 .listText p span{
	position: absolute;
	right: 20px;
	top: 15px;
}
.banner .list1 .listText ul{
	width: 540px;
	height: 45px;
	line-height: 45px;
	float: left;
	border-bottom: 1px solid #dedede;

}
.banner .list1 .listText ul li{
	float: left;
	padding: 0 10px;
	background: url(../img/1headerLine.png) no-repeat left center;
}
.banner .list1 .listText ul li a{
	color: #666666;
}
.banner .list1 .listText ul li a:hover{
	color: #6dcba9;
}
/*列表2*/
.banner .list2{
	width: 700px;
	height: 340px;
	position: absolute;
	left: 235px;
	top: 0;
	background-color: #f7f7f7;
	padding: 10px 0 0 0;
	border: 1px solid #39836a;
	/*border-left: none;*/
	display: none;
}
.banner .list2 .hotQ p{
	width: 98px;
	height: 125px;
	line-height: 60px;
	text-align: center;
	float: left;
}
.banner .list2 .hotQ ul{
	width: 600px;
	height: 125px;
	float: left;
}
.banner .list2 .hotQ ul li,.banner .list2 .otherQ ul li{
	width: 118px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	float: left;
	margin: 10px 8px; 
}
.banner .list2 .hotQ ul li a,.banner .list2 .otherQ ul li a{
	display: block;
	width: 118px;
	height: 42px;
	color: #666666;
	border: 1px solid #e2e2e2;
}
.banner .list2 .hotQ ul li a:hover,.banner .list2 .otherQ ul li a:hover,.banner .list3 table tr td a:hover,.banner .list4 table tr td a:hover{
	color: #6dcba9;
	border: 1px solid #39836a;
}
.banner .list2 .otherQ p{
	width: 98px;
	height: 210px;
	line-height: 60px;
	text-align: center;
	float: left;
}
.banner .list2 .otherQ ul{
	width: 600px;
	height: 210px;
	float: left;
}
/*列表3*/
.banner .list3{
	width: 700px;
	height: 400px;
	position: absolute;
	left: 235px;
	top: 0;
	background-color: #f7f7f7;
	border: 1px solid #39836a;
	/*border-left: none;*/
	display: none;
}
.banner .list3 table{
	width: 700px;
	height: 400px;
}
.banner .list3 table tr td,.banner .list4 table tr td{
	width: 120px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	/*vertical-align: middle;*/
}
.banner .list3 table tr td a,.banner .list4 table tr td a{
	display: block;
	width: 120px;
	height: 42px;
	color: #666666;
	border: 1px solid #e2e2e2; 
}
/*列表4*/
.banner .list4{
	width: 700px;
	height: 340px;
	position: absolute;
	left: 235px;
	top: 0;
	background-color: #f7f7f7;
	border: 1px solid #39836a;
	/*border-left: none;*/
	display: none;
}
.banner .list4 table{
	width: 700px;
	height: 260px;
}
/*主题*/
.main{
	width: 100%;
	height: 975px;
	background-color: #f7f7f7;
}
/*主题 mainImg*/
.main .mainImg{
	height: 166px;
	margin: 0 auto 20px auto; 
}
.main .mainImg a{
	display: block;
	width: 300px;
	height: 166px;
	float: left;
}
.main .mainImg a img{
	width: 299px;
	height: 166px;
}
/*主题 phoneRecy*/
.main .phoneRecy,.main .goodsSele{
	height: 350px;
	margin: 0 auto 10px auto;
}
.main .phoneRecy .title,.main .goodsSele .title{
	width: 1200px;
	height: 48px;
	line-height: 48px;
}
.main .phoneRecy .title h2,.main .goodsSele .title h2{
	font-size: 24px;
	font-weight: normal;
	float: left;
}
.main .phoneRecy .title p,.main .goodsSele .title p{
	float: right;
}
.main .phoneRecy .title p a,.main .goodsSele .title p a{
	display: block;
	width: 75px;
	color: #666666;
	font-size: 14px;
	background: url(../img/4mainA1.png) no-repeat right center;
}
.main .phoneRecy .title p a:hover,.main .goodsSele .title p a:hover{
	color: #000;
	text-decoration: underline;
}
.main .phoneRecy .imgs,.main .goodsSele .imgs{
	width: 1200px;
	height: 300px;
}
.main .phoneRecy .imgs a{
	display: block;
	width: 200px;
	height: 300px;
	line-height: 500px;
	text-align: center;
	font-size: 16px;
	color: #666666;
	float: left;
	background-color: #fff;
	border-right: 1px solid #f7f7f7;
	position: relative;
}
.main .phoneRecy .imgs a img{
	width: 75px;
	height: 160px;
	position: absolute;
	left: 60px;
	top: 55px;
}
.main .goodsSele .imgs a{
	display: block;
	width: 200px;
	height: 300px;
	text-align: center;
	font-size: 16px;
	color: #666666;
	float: left;
	background-color: #fff;
	border-right: 1px solid #f7f7f7;
	position: relative;
}
.main .goodsSele .imgs a img{
	width: 120px;
	height: 155px;
	position: absolute;
	left: 45px;
	top: 55px;
}
.main .goodsSele .imgs a .price{
	position: absolute;
	bottom: 30px;
	left: 70px;
}
.main .phoneRecy .imgs a:first-child,.main .goodsSele .imgs a:first-child{
	border-right: none;
}
.main .phoneRecy .imgs a:first-child img,.main .goodsSele .imgs a:first-child img{
	width: 200px;
	height: 300px;
	position: static;/*默认不定位！！*/
}
.main .mainNext{
	height: 48px;
	line-height: 48px;
}
.main .mainNext h2{
	font-size: 24px;
	font-weight: normal;
}
/*主题2*/
.mainShop{
	height: 925px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.mainShop .shopSear{
	height: 42px;
	margin: 20px 0;
	font-size: 14px;
	padding: 0.1px;
}
.mainShop .shopSear p{
	width: 140px;
	height: 42px;
	line-height: 42px;
	text-indent: 15px;
	float: left;
	cursor: pointer;
	border: 1px solid #388d70;
	position: relative;
}
.mainShop .shopSear p span{
	height: 0;
	width: 0;
	border: 5px solid transparent;
	border-top: 5px solid #388d70;
	position: absolute;
	
}
.mainShop .shopSear .province span{
	left: 55px;
	top: 20px;
}
.mainShop .shopSear .areaSele span{
	left: 80px;
	top: 20px;
}
.mainShop .shopSear .areaSele{
	margin: 0 10px;
}
.mainShop .shopSear .addrSear{
	width: 590px;
	float: left;
}
.mainShop .shopSear .addrSear input{
	width: 470px;
	height: 42px;
	text-indent: 1em;
	font-size: 14px;
	float: left;
	border: 1px solid #388d70;
}
.mainShop .shopSear .addrSear button{
	float: left;
	width: 120px;
	height: 42px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	border: 0;
	cursor: pointer;
	background-color: #388d70;
}
.mainShop .shopSear1{
	width: 460px;
	height: 190px;
	padding: 10px;
	border: 1px solid #cecece;
	position: absolute;
	left: 0px;
	top:45px;
	display: none;
}
.mainShop .shopSear1 .cityList{
	height: 25px;
}
.mainShop .shopSear1 .cityList span{
	float: left;
}
.mainShop .shopSear1 .cityList button{
	width: 55px;
	height: 20px;
	float: right;
}
.mainShop .shopSear1 .cities{
	width: 440px;
	height: 145px;
	padding: 10px 0 0 0;
	border: 1px solid #cecece;
}
.mainShop .shopSear1 .cities p{
	width: 45px;
	height: 55px;
	line-height: 20px;
	text-align: center;
	float: left;
}
.mainShop .shopSear1 .cities .cities1{
	width: 440px;
	height: 55px;
}
.mainShop .shopSear1 .cities .cities1 ul{
	width: 370px;
	height: 55px;
	float: left;
}
.mainShop .shopSear1 .cities .cities1 ul li{
	float: left;
	margin: 0 7px;
	line-height: 20px; 
}
.mainShop .shopSear1 .cities .cities1 ul li a,.mainShop .shopSear1 .cities .cities2 .aphCity .cityName li a{
	color: #000;
}
.mainShop .shopSear1 .cities .cities1 ul li a:hover,.mainShop .shopSear1 .cities .cities2 .aphCity .aph li a:hover,.mainShop .shopSear1 .cities .cities2 .aphCity .cityName li a:hover{
	color: #ffdacb;
	text-decoration: underline;
}
.mainShop .shopSear1 .cities .cities2{
	width: 440px;
	height: 90px;
}
.mainShop .shopSear1 .cities .cities2 .aphCity{
	width: 395px;
	height: 90px;
	float: left;
}
.mainShop .shopSear1 .cities .cities2 .aphCity .aph{
	width: 375px;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px solid #d7d7d7;
}
.mainShop .shopSear1 .cities .cities2 .aphCity .aph li{
	width: 20px;
	height: 24px;
	text-align: center;
	float: left;
}
.mainShop .shopSear1 .cities .cities2 .aphCity .aph li a{
	display: block;
	width: 20px;
	height: 24px;
	color: #000;
}
.mainShop .shopSear1 .cities .cities2 .aphCity .aph li:first-child a{
	color: #ffdacb;
	border: 1px solid #ffdacb;
	border-bottom: 1px solid #fff;
}
/*.mainShop .shopSear1 .cities .cities2 .aphCity .aph li a:hover{
	color: #ffdacb;
	text-decoration: underline;
}*/
.mainShop .shopSear1 .cities .cities2 .aphCity .cityName{
	width: 370px;
	float: left;
	/*height: */
}
.mainShop .shopSear1 .cities .cities2 .aphCity .cityName li{
	text-align: center;
	float: left;
	margin: 0 7px; 
}
.mainShop .shopSear3{
	width: 470px;
	height: 30px;
	line-height: 30px;
	color: #c5c3ce;
	padding: 0 0 0 5px;
	border: 1px solid #d7d3d0;
	position: absolute;
	left:300px;
	top: 45px;
	display: none;
}
.mainShop .shopSort{
	height: 840px;
}
.mainShop .shopSort .shopSortLeft{
	width: 890px;
	height: 840px;
	float: left;
	/*border: 1px solid #d6d6d6;*/

}
.mainShop .shopSort .shopSortLeft .sortSear{
	width: 890px;
	height: 42px;
	line-height: 42px;690px;
	font-size: 14px;
	border: 1px solid #d6d6d6;
	background-color: #f7f7f7;
}
.mainShop .shopSort .shopSortLeft .sortSear ul{
	width: 500px;
	height:40px;
	float: left;
}
.mainShop .shopSort .shopSortLeft .sortSear ul li{
	width: 120px;
	height: 40px;
	text-align: center;
	float: left;
}
.mainShop .shopSort .shopSortLeft .sortSear ul li:first-child{
	background-color: #fff;
	border-right: 1px solid #d6d6d6;
}
.mainShop .shopSort .shopSortLeft .sortSear ul li a{
	display: block;
	width: 120px;
	height: 40px;
	color: #000;
}
.mainShop .shopSort .shopSortLeft .sortSear .map{
	width: 110px;
	height: 40px;
	float: right;
	position: relative;
}
.mainShop .shopSort .shopSortLeft .sortSear .map a{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-indent: 35px;
	border: 1px solid #d6d6d6;
	color: #000;
	background: #fff url(../img/5shopSort1.png) no-repeat 10px 5px;
	position: absolute;
	left: 0;
	top: 5px;
}
.mainShop .shopSort .shopSortLeft .shopData{
	width: 890px;
	height: 730px;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList{
	width: 890px;
	height: 660px;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul{
	width: 890px;
	height: 660px;
	/*overflow: hidden;*/
	/*??? */
}

/*lili*/
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li{
	width: 890px;
	height: 130px;
	border-bottom:  1px solid #dfdfe1;
	padding: 20px 0 0 0;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo{
	width: 490px;
	height: 110px;
	float: left;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopicoA{
	display: block;
	width: 92px;
	height: 92px;
	float: left;
	border: 1px solid #e6e6e6;
	margin: 0px 10px 0px 0;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopicoA img{
	width: 90px;
	height: 90px;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopInfoLeft{
	width: 385px;
	height: 100px;
	float: left;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopInfoLeft h4{
	height: 35px;
	width: 385px;
	line-height: 35px;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopInfoLeft h4 a{
	font-weight: normal;
	color: #118855;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopInfoLeft h4 a:hover{
	text-decoration: underline; 
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopInfo .shopInfoLeft p{
	line-height: 32px;
	width: 385px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopOther{
	width: 340px;
	height: 110px;
	float: right;
	/*background-color: yellow;*/
	position: relative;
}

.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopOther p{
	width: 180px;
	height: 30px;
	line-height: 30px;
	text-indent: 24px;
	background: url(../img/6shopData1.png) no-repeat left center;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopOther .shopPop{
	text-indent: 0px;
	background: none;
}
.mainShop .shopSort .shopSortLeft .shopData .shopList ul li .shopOther a{
	display: block;
	width: 140px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	color: #327860;
	border: 1px solid #327860;
	position: absolute;
	right: 5px;
	top: 35px;
	display: none;
}
/*lili*/


.mainShop .shopSort .shopSortLeft .shopData .page{
	width: 890px;
	height: 60px;
}
.mainShop .shopSort .shopSortLeft .shopData .page ul{
	width: 650px;
	height: 60px;
	margin: 0 auto; 
	padding: 7px 0;
}
.mainShop .shopSort .shopSortLeft .shopData .page ul li{
	width: 42px;
	height: 42px;
	float: left;
	margin: 0 5px; 
}
.mainShop .shopSort .shopSortLeft .shopData .page ul li:last-child{
	width: 100px;
}
.mainShop .shopSort .shopSortLeft .shopData .page ul li a{
	display: block;
	width: 42px;
	height: 42px;
	line-height: 42px;
	color: #a59999;
	border: 1px solid #d6d6d6;
	text-align: center;
	font-size: 14px;
}
.mainShop .shopSort .shopSortLeft .shopData .page ul li:first-child a{
	background-color: #fc6621;
	color: #fff;
	border: none;
}
.mainShop .shopSort .shopSortLeft .shopData .page ul li:last-child a{
	width: 100px;
}
.mainShop .shopSort .shopSortRight{
	width: 270px;
	height: 700px;
	float: right;
	border: 1px solid #d6d6d6;
}
.mainShop .shopSort .shopSortRight h3{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
	background-color: #f7f7f7;
}
/*地图*/
.mapSear{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.mapSear .mapMap{
	position: relative;
}
.mapSear .mapMap .mapShop{
	width: 890px;
	height: 550px;
	margin: 0 auto; 
	position: absolute;
	left: 0;
	top: 0;
	/*right: 0;
	bottom: 0;*/
}
.mapSear .mapMap .mapShop .mapName{
	width: 890px;
	height: 32px;
	line-height: 32px;
	background: #f4edff;
	border-bottom: 1px solid #e1e2da;
}
.mapSear .mapMap .mapShop .mapName h4{
	width: 150px;
	height: 32px;
	text-indent: 15px;
	font-weight: normal;
	float: left;	
}
.mapSear .mapMap .mapShop .mapName button{
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	float: right;
	background: url(../img/7map1.png) no-repeat center center;	
}
.mapSear .mapMap .mapShop #mapCont{
	width: 890px;
	height: 500px;
}

/*底部*/
.footIframe{
	height: 275px;
	width: 100%;
}
/*回顶部*/
.toTop{
	width: 25px;
	height: 75px;
	padding: 5px;
	border: 1px solid pink;
	cursor: pointer;
	position: fixed;
	right: 10px;
	bottom: 50px;
	display: none;
}
.toTop:hover{
	color: green;
}