/*头部*/
.header{
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: #f6f6f6;
	border: 1px solid #c7c7c7;
}
.header .headWidth{
	width: 960px;
	height: 32px;
	margin: 0 auto; 
}
.header .headWidth a,.header .headWidth li{
	color: #666666;
}
.header .headWidth a:hover{
	text-decoration: underline;
}

.header .headWidth .city{
	width: 250px;
	height: 32px;
	float: left;
}
.header .headWidth .city ul{
	width: 200px;
	height: 32px;
	float: left;
}
.header .headWidth .city ul li{
	float: left;
	padding: 0 5px;
}
.header .headWidth .city ul li:nth-child(2){
	background: url(../img/1headerLine.png) no-repeat right center;
}
.header .headWidth .list{
	width: 480px;
	height: 32px;
	float: right;
}
.header .headWidth .list ul{
	width: 480px;
	height: 32px;
}
.header .headWidth .list ul li{
	padding: 0 10px;
	float: left;
	background: url(../img/1headerLine.png) no-repeat right center;
}
.header .headWidth .list ul li:last-child{
	background: none;
}
.header .headWidth .list ul li:last-child a{
	color: red;
}
/*搜索*/
.shopSear{
	width: 100%;
	height: 100px;
	border-bottom: 4px solid #4bac20;
}
.shopSear .sear{
	height: 100px;
	width: 960px;
	margin: 0 auto; 
	padding: 10px 0 0 0;
}
.shopSear .sear h1{
	width: 300px;
	height: 90px;
	font-size: 0;
	float: left;
	background: url(../img/9shop_03.jpg) no-repeat left center;
}
.shopSear .sear .searText{
	width: 650px;
	height: 90px;
	float: right;
	position: relative;
}
.shopSear .sear .searText .listSear{
	width: 650px;
	height: 24px;
	line-height: 24px;
}
.shopSear .sear .searText .listSear li{
	height: 24px;
	margin:  0 5px 5px 5px;
	float: left;
}
.shopSear .sear .searText .listSear li a{
	display: block;
	height: 24px;
	padding: 0 10px;
	color: #000;
}
.shopSear .sear .searText .listSear li a:hover{
	background-color: #f2f7fb;
}
.shopSear .sear .searText .listSear li:first-child a{
	background-color: #4bac20;
	color: #fff;
}
.shopSear .sear .searText #iptSear{
	width: 490px;
	height: 40px;
	border: 2px solid #4bac20;
	font-size: 14px;
	color: #969696;
	float: left;
}
.shopSear .sear .searText .spanTri{
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top: 5px solid #4bac20;
	cursor: pointer;
	position: absolute;
	left: 470px;
	top: 50%;
}
.shopSear .sear .searText .spanTri000{
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom: 5px solid #4bac20;
	cursor: pointer;
	position: absolute;
	left: 470px;
	top: 50%;
}
.shopSear .sear .searText button{
	width: 75px;
	height: 44px;
	border: none;
	background-color: #4bac20;
	color: #fff;
	cursor: pointer;
	float: left;
}
.shopSear .sear .searText .iptSear1{
	width: 490px;
	height: 225px;
	border: 1px solid #4bac20;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 70px;
	display: none;
}
.shopSear .sear .searText .iptSear1 ul{
	width: 490px;
	height: 225px;
	font-size: 14px;
}
.shopSear .sear .searText .iptSear1 ul li{
	width: 490px;
	position: relative;
}
.shopSear .sear .searText .iptSear1 ul li span{
	display: block;
	width: 16px;
	height: 16px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: url(../img/9shopListSear2.png) center center;
	position: absolute;
	left: 10px;
	top: 5px;
}
.shopSear .sear .searText .iptSear1 ul li:first-child span,.shopSear .sear .searText .iptSear1 ul li:nth-child(2) span,.shopSear .sear .searText .iptSear1 ul li:nth-child(3) span{
	background: url(../img/9shopListSear1.png) center center;
}
.shopSear .sear .searText .iptSear1 ul li a{
	display: block;
	width: 490px;
	color: #000;
	line-height: 28px;
	text-indent: 30px;
}
.shopSear .sear .searText .iptSear1 ul li a:hover{
	background: #c9c9c9;
}
.shopSear .sear .searText .iptSear2{
	width: 490px;
	/*height: 225px;*/
	padding: 10px;
	border: 1px solid #4bac20;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 70px;
	/*display: none;*/
}
.shopSear .sear .searText .iptSear2 ul{
	width: 470px;
}
.shopSear .sear .searText .iptSear2 ul li{
	width: 470px;
	height: 30px;
	line-height: 30px;
}
.shopSear .sear .searText .iptSear2 ul li a{
	display: block;
	width: 470px;
	height: 30px;
	color: #000;
}
.shopSear .sear .searText .iptSear2 ul li a:hover{
	background: #c9c9c9;
	text-decoration: none;/*????*/
}



/*店铺名*/
.shopName{
	width: 960px;
	height: 163px;
	margin: 10px auto; 
	/*padding: 10px 0;*//*？？？？111*/
	border: 1px solid #f4f4f4;
	background: url(../img/9shopName1.png) repeat-x center center;
}
.shopName .shopImg{
	width: 120px;
	height: 120px;
	margin: 18px; /*111???*/
	float: left;
}
.shopName .shopInfo{
	width: 460px;
	height: 120px;
	margin-top: 20px;
	float: left;
}
.shopName .shopInfo .shopTitle{
	width: 460px;
	height: 24px;
}
.shopName .shopInfo .shopTitle h4{
	width: 105px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	float: left;
}
.shopName .shopInfo .shopTitle p{
	width: 100px;
	height: 24px;
	line-height: 24px;
	float: left;
}
.shopName .shopInfo .shopTitle p .imgSp{
	padding: 5px;
	background-color: #118855;
	color: #fff;
	border-radius: 5px;
}
.shopName .shopInfo .shopTitle p .textSp{/*???加了padding*/
	padding: 2px 10px;
	cursor: pointer;
	background: url(../img/9shop_12.jpg) no-repeat center center;
}
.shopName .shopInfo .tel{
	width: 460px;
	height: 90px;
	padding: 10px 0 0 0;
}
.shopName .shopInfo .tel li{
	width: 460px;
	line-height: 26px;
}
.shopName .shopInfo .tel li .telSp{
	display: block;
	width: 105px;
	text-indent: 25px;
	float: left;
	background: url(../img/9shop_17.jpg) no-repeat 5px center;
}
.shopName .shopInfo .tel li .telOpen{
	display:none;
}
.shopName .shopInfo .tel li .phone{
	color: red;
}
.shopName .shopInfo .tel li a:hover{
	text-decoration: underline;
}
.shopName .shopOther{
	width: 250px;
	height: 160px;
	padding: 20px 0 0 0; 
	float: right;
}
.shopName .shopOther ul{
	width: 250px;
	height: 130px;
	padding: 0 20px 0 0; 
} 
.shopName .shopOther ul li{
	width: 230px;
	line-height: 28px;
} 
.shopName .shopOther ul li .shareA{
	display: block;
	text-indent: 25px;
	margin: 0 0 0 15px; 
	color: #aaaaaa;
	float: left;
	background: url(../img/9shop_09.jpg) no-repeat left center;
}
.shopName .shopOther ul li .shareA:hover{
	text-decoration: underline;
}
.shopName .shopOther ul .shopRank{
	text-align: right;
}
/*店铺公告*/
.notice{
	width: 960px;
	height: 35px;
	line-height: 35px;
	margin: 10px auto;
	border: 1px solid #f0f0f0;
	color: #ff0000; 
}
.notice p{
	text-indent: 50px;
	background: url(../img/9shop_25.jpg) no-repeat 20px center
}
.notice span{
	color: #000;
	font-weight: bold;
}
/*分类列表搜索*/
.main{
	width: 960px;
	margin: 0 auto 20px auto;
	/*height: */
}
.main .mainLeft{
	width: 760px;
	float: left;
}
.main .mainLeft .sortList{
	width: 760px;
	height: 45px;
	line-height: 45px;
	margin: 0 0 10px 0; 
	border-bottom: 1px solid #e6e6e6;
}
.main .mainLeft .sortList ul{
	width: 430px;
	height: 45px;
	float: left;
}
.main .mainLeft .sortList ul li{
	width: 90px;
	height: 45px;
	float: left;
	margin: 0 7px;
	text-align: center;
}
.main .mainLeft .sortList ul li a{
	display: block;
	width: 90px;
	height: 45px;
	color: #666666;
	font-weight: bold;
	float: left;
}
.main .mainLeft .sortList ul li:first-child a{
	border-bottom: 2px solid #2ece02;
	color: #128422;
	/*cursor: normal;????*/
}
.main .mainLeft .sortList input{
	width: 160px;
	height: 20px;
	text-indent: 25px;
	margin: 10px 0 0 0; 
	float: left;
	/*font-size: 8px;???*/
	border: 1px solid #e6e6e6;
	color: #666666;
	border-radius: 5px 0 0 5px; 
	background: url(../img/9shopSortList1.png) no-repeat 10px center;
}
.main .mainLeft .sortList button{
	width: 45px;
	height: 22px;
	border-radius: 0 5px 5px 0; 
	border: 1px solid #e6e6e6;
	margin: 10px 0 0 0; 
	float: left;
}
/*商品列表*/
.main .mainLeft .shopGoods{
	width: 760px;
	margin: 0 auto;
}
.main .mainLeft .shopGoods .goodsCount{
	width: 760px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #f4f4f4;
}
.main .mainLeft .shopGoods .goodsCount li{
	margin: 0 10px;
	float: left; 
}
.main .mainLeft .shopGoods .goodsCount li:first-child a{
	color: #000;
	font-weight: bold;
}
.main .mainLeft .shopGoods .goodsList{
	width: 760px;
	padding: 10px;
}
.main .mainLeft .shopGoods .goodsList li{
	width: 740px;
	border-bottom: 1px solid #f4f4f4;
	position: relative;
}
.main .mainLeft .shopGoods .goodsList li .imgA{
	display: block;
	width: 70px;
	height: 70px;
	border: 1px solid #f4f4f4;
	float: left;
	margin: 0 10px 0 0; 
}
.main .mainLeft .shopGoods .goodsList li .imgA img{
	width: 70px;
	height: 70px;
}
.main .mainLeft .shopGoods .goodsList li .goodsText{
	width: 420px;
	line-height: 18px;
	float: left;
}
.main .mainLeft .shopGoods .goodsList li .goodsText{
	color: #a59999;
}
.main .mainLeft .shopGoods .goodsList li .goodsText span{
	font-weight: bold;
}
.main .mainLeft .shopGoods .price{
	width: 220px;
	color: #ffa019;
	position: absolute;
	right: 0;
	top: 20px;
}
.main .mainLeft .shopGoods .price span{
	font-size: 18px;
	font-weight: bold;
}
.main .mainLeft .shopGoods .price .coin{
	color: #a59999;
	font-weight: normal;
}
.main .mainLeft .shopGoods .price button{
	width: 95px;
	height: 35px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	background-color: #a59999; /*???*/
	border-radius: 5px;
	cursor: pointer;
	float: right;
}
.main .mainLeft .goodsPage{
	width: 460px;
	margin: 0 auto; 
	height: 40px;
	/*line-height: 40px;*/
}
.main .mainLeft .goodsPage li{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin: 0 5px;
	float: left;
}
.main .mainLeft .goodsPage li:first-child,.main .mainLeft .goodsPage li:nth-child(2),.main .mainLeft .goodsPage li:last-child{
	width: 60px;
	height: 30px;
}
.main .mainLeft .goodsPage li a{
	display: block;
	width: 30px;
	height: 30px;
	border: 1px solid #dfdfe1;
	border-radius: 3px;
}
.main .mainLeft .goodsPage li:first-child a,.main .mainLeft .goodsPage li:nth-child(2) a,.main .mainLeft .goodsPage li:last-child a{
	width: 60px;
	height: 30px;
}
.main .mainLeft .goodsPage li a:hover{
	background-color: #228af2;
	color: #fff;
}
.main .mainLeft .goodsComment{
	width: 760px;
	border: 1px solid #acb9c9;
}
.main .mainLeft .goodsComment .client{
	width: 760px;
	height: 35px;
	border-bottom: 1px solid #acb9c9;
}
.main .mainLeft .goodsComment .commentsList{
	width: 760px;
}
.main .mainLeft .goodsComment .commentsList li{
	width: 760px;
	border-bottom: 1px dashed #acb9c9;
}
.main .mainLeft .goodsComment .commentsList li{
	width: 760px;
	height: 110px;
	padding: 10px 0 0 0;
	border-bottom: 1px dashed #acb9c9;
}
.main .mainLeft .goodsComment .commentsList li:last-child{
	border-bottom: none;
}
.main .mainLeft .goodsComment .commentsList li .img{
	width: 110px;
	text-align: center;
	float: left;
}
.main .mainLeft .goodsComment .commentsList li .img img{
	width: 32px;
	height: 32px;
	margin: 10px 0; 
}
.main .mainLeft .goodsComment .commentsList li .img p{
	color: #acb9c9;
}
.main .mainLeft .goodsComment .commentsList li .text{
	width: 440px;
	float: left;
}
.main .mainLeft .goodsComment .commentsList li .text p{
	width: 440px;
	margin: 0 0 10px 0;
} 
.main .mainLeft .goodsComment .commentsList li .text p:first-child{
	margin: 0 0 20px 0;
	color: red;
} 
.main .mainLeft .goodsComment .commentsList li .text p:last-child{
	color: #acb9c9;
} 
.main .mainLeft .goodsComment .commentsList li .orderNum{
	width: 200px;
	color: #acb9c9;
	float: right;
} 
.main .mainLeft .goodsComment .pageList{
	width: 280px;
	height: 36px;
	margin: 0 auto;
} 
.main .mainLeft .goodsComment .pageList li{
	width: 26px;
	height: 26px;
	line-height: 26px;
	float: left;
	text-align: center;
	margin:0 5px 0 0; 
} 
.main .mainLeft .goodsComment .pageList li:first-child,.main .mainLeft .goodsComment .pageList li:last-child{
	width: 65px;
} 
.main .mainLeft .goodsComment .pageList li a{
	display: block;
	width: 26px;
	height: 26px;
	color: #000;
	border: 1px solid #acb9c9; 
} 
.main .mainLeft .goodsComment .pageList li:first-child a,.main .mainLeft .goodsComment .pageList li:last-child a{
	width: 65px;
} 
.main .mainLeft .goodsComment .pageList li a:hover{
	color: #fff;
	background-color: #257fe7;
} 
.main .mainLeft .shopDetail{
	width: 760px;
	margin: 10px 0; 
	border: 1px solid #acb9c9;
}
.main .mainLeft .shopDetail .shopP{
	width: 760px;
	height: 35px;
	line-height: 35px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #acb9c9;
}
.main .mainLeft .shopDetail table{
	width: 760px;
}
.main .mainLeft .shopDetail table tr{
	width: 760px;
	height: 40px;
}
.main .mainLeft .shopDetail table tr td{
	padding: 0 10px;
}
.main .mainLeft .shopDetail table tr:last-child{
	height: 60px;
}
.main .mainLeft .shopDetail table tr td:first-child{
	width: 100px;
	height: 40px;
	text-align: right;
	background-color: #ededed;
	/*margin不起作用，padding无效果。加白色边框！*/
	border: 2px solid #fff;
}
.main .mainLeft .shopDetail table tr:last-child td:first-child{
	height: 60px;
}
.main .mainLeft .shopDetail table tr td:last-child{
	width: 660px;
	height: 40px;
	background-color: #fcfcfc;
}
.main .mainLeft .shopDetail table tr:last-child td:last-child{
	height: 60px;
}
.main .mainLeft .shopDetail table tr td:last-child{
	color: #c1a5a5;
}
.main .mainLeft .shopDetail table tr:nth-child(2) td span{
	display: block;
	width: 58px;
	height: 20px;
	padding: 0 10px;
	margin: 0 0 0 10px;
	color: #337d39;
	border: 1px solid #badd98;
	float: left;
}
.main .mainLeft .shopDetail table tr:last-child td p{
	color: red;
}
.main .mainLeft .shopDetail table tr:last-child td p span{
	color: #c1a5a5;
}
.main .mainLeft .goodsServer{
	width: 760px;
	height: 490px;
	border: 1px solid #acb9c9;
}
.main .mainLeft .goodsServer .serverP{
	width: 760px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #acb9c9;
}
.main .mainLeft .goodsServer .quality{
	width: 375px;
	height: 75px;
	line-height: 75px;
	font-size: 16px;
	margin: 0 auto;
}
.main .mainLeft .goodsServer .quality img{
	width: 46px;
	height: 52px;
	margin: 10px 10px 0 0;
	float: left;
}
.main .mainLeft .goodsServer .quality p{
	width: 300px;
	height: 52px;
	float: left;
}
.main .mainLeft .goodsServer .qualityList{
	width: 675px;
	height: 350px;
	margin: 0 auto; 
}
.main .mainLeft .goodsServer .qualityList li{
	width: 675px;
	height: 70px;
	padding: 10px 0;
	border-bottom: 1px solid #efefef;
}
.main .mainLeft .goodsServer .qualityList li:last-child{
	border-bottom: none;
}
.main .mainLeft .goodsServer .qualityList li img{
	width: 35px;
	height: 41px;
	float: left;
	margin: 0 10px 0 0; 
}
.main .mainLeft .goodsServer .qualityList li .qualityDes{
	width: 630px;
	height: 41px;
	padding: 8px 0 0 0;
	float: left;
}
.main .mainLeft .goodsServer .qualityList li .qualityDes p:first-child{
	color: #0e8726;
	font-weight: bold;
	font-size: 14px;
}
.mainRight{
	width: 200px;
	height: 400px;
	text-align: center;
	float: right;
}
.mainRight img{
	margin: 10px 0;
}
.mainRight .map{
	width: 180px;
	height: 200px;
	float: right;
}
.mainRight .map #shopMap{
	width: 180px;
	height: 180px;
	border: 1px solid #000; 
}





.footWidth{
	width: 100%;
	height: 270px;
	background-color: #fafafa;
	border-top: 1px solid #e6e6e6; 
}
.foot{
	height: 270px;
	width: 960px;
	margin: 0 auto;
	color: #909090;
}
a{
	color: #909090;
}
a:hover{
	text-decoration: underline;
}
.foot .linkIco{
	width: 960px;
	height: 130px;
	margin: 0 auto; 
	border-bottom: 1px solid #e6e6e6;
}
.foot .linkIco .linkText{
	width: 240px;
	height: 130px;
	padding: 20px  0 0 0;
	float: left;
	/*border: 1px solid red;*/
}
.foot .linkIco .linkText .imgP{
	width: 70px;
	height: 110px;
	/*border: 1px solid yellow;*/
	float: left;
	background: url(../img/8foot1.png) no-repeat 20px 0;
}
.foot .linkIco .linkText .textP{
	width: 150px;
	height: 110px;
	float: left;
}
.foot .linkIco .linkText .textP h4{
	width: 150px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
}
.foot .linkIco .linkText .textP ul{
	width: 150px;
}
.foot .linkIco .linkText .textP ul li{
	line-height: 24px;
}
.foot .footer{
	width: 960px;
	height: 130px;
	margin: 0 auto;
}
address{
	width: 450px;
	line-height: 24px;
	margin: 0 auto;
	text-align: center; 
	font-style: normal;
}
address span,address a{
	margin: 0 10px;
}